:root{
    ---maxWidth: 90%;
    --fontSizePadrao: 1em;
    --fontSize2: 2em;
    --fontSize3: 3em;
}
html{
    min-width: 98vw;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.shadow{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow > div{
    background-color: white;
    display: flex;
    border-radius: 10px;
    border: 1px solid #666;
    padding: 30px;
    position: absolute;
    margin: 20px;
}
.shadow,
#cntrMensagemLogin,
#cntrMensagemContaCriada{
    display: none;
}


.shadow .cntrX{
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;

    width: 30px;
    height: 30px;
    padding: 8px;

}
.shadow .x{
    width: 100%;
    height: 100%;
}
.shadow .cntrMensagemLogin span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shadow span svg{
    width: 60px;
    height: 60px;
    margin-right: 24px;
}
.shadow h1{
    font-size: 2em;
    margin-bottom: 10px;
}
.shadow .cntrMensagemLogin p{
    font-size: 1em;
}

@media only screen and (max-width : 650px){
    .shadow .cntrMensagemLogin span svg{
        width: 50px;
        height: 50px;
    }
    .shadow .cntrMensagemLogin h1{
        font-size: 1.6em;
    }
    .shadow .cntrMensagemLogin p{
        font-size: 1em;
    }}


#cntrMensagemContaCriada{
    flex-direction: column;
    padding: 0px;
}
.cntrSuperiorContaCriada{
    display: flex;
    margin-bottom: 10px;
    padding: 30px;
    padding-bottom: 0px;

}
.cntrCupon{
    display: flex;
    margin: 20px;

}
.cntrPrimeiraParteCupom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3483fa;
    color: white;
    padding: 12px;
    border-right: 4px solid rgb(255, 255, 255);
    border-right-style: dashed;
    min-width: fit-content;
}
.cntrPrimeiraParteCupom p{
    font-size: .8em;
}

.cntrPrimeiraParteCupom p:nth-child(2){
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 4px;
}

.cntrSegundaParteCupom{
    border: 1px solid #ddd;
    border-left: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cntrSegundaParteCupom span:nth-child(1){
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tetleCupom{
    font-size: 1em;
    font-weight: bold;
}
.validadeCupom{
    font-size: .8em;
    font-weight: lighter;
    margin-top: 10px;
}
.cntrSegundaParteCupom button{
    border: 1px solid #3483fa;
    color: #3483fa;
    padding: 10px 14px;
    background-color: white;
    font-weight: bold;
}
@media only screen and (max-width : 666px){
    .tetleCupom {
        font-size: .95em;
    }
    .shadow h1 {
        font-size: 1.6em;
    }
}

@media only screen and (max-width : 530px){
    .shadow h1 {
        font-size: 1.3em;
    }
}





body{
    background-color: #ebebeb;
    width: 100%;
}
header{
    background-color: #351151;
    width: 100%;
}
.superiorHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}
.nomeLoja{
    color: white;
    text-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
}
.containerLogo{
    min-width: fit-content;
    margin: 0px 40px;
}
.containerPesquisaMobile,
    .containerPesquisaDesktop{
    display: flex;
    align-items: center;
    background-color: white;
    width: 60%;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
    overflow: hidden;
    height: fit-content;
}
@keyframes containerPesquisaMobile {
    0%{
        max-height: 0px;
        opacity: 0;
    }
    100%{
        max-height: 38px;
        opacity: 1;
    }
}
@keyframes containerPesquisaMobileClose {
    0%{
        max-height: 38px;
        opacity: 1;
    }
    100%{
        max-height: 0px;
        opacity: 0;
    }
}

@keyframes containerPesquisaDesktop {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes containerPesquisaDesktopClose {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.inputPesquisa{
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: var(--fontSizePadrao);
    outline: none;
}
.containerIconPesquisa{
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header svg{
    width: 24px;
    height: 24px;
}
.containerIcons{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px 40px;
}
.containerIcons svg:nth-child(2){
    margin: 0px 30px;
    fill: white;
}
.containerIcons svg:nth-child(1){
    fill: white;
}

.containerIcons svg{
    position: relative;
}
.containerIcons svg:nth-child(1){
    animation: iconsHeaderAnimation1 1s both;
}
.containerIcons svg:nth-child(2){
    animation: iconsHeaderAnimation2 1s both;
}
.containerIcons {
    position: relative;
    animation: iconsHeaderAnimation 1s both;
}

@keyframes iconsHeaderAnimation1 {
    0%{
        right: -108px;
    }
    100%{
        right: 0px;
    }
}
@keyframes iconsHeaderAnimation2 {
    0%{
        right: -50px;
    }
    100%{
        right: 0px;
    }
}
@keyframes iconsHeaderAnimation {
    0%{
        right: -100px;
    }
    100%{
        right: 0px;
    }
}




.containerPesquisaMobile{
    display: none;
}
.cntrNewMenu{
    padding: 10px 20px;
}
.cntrNewMenu span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 24px;
    height: 18px;
}

.cntrNewMenu div{
    width: 24px;
    height: 3px;
    background-color: white;
    border-radius: 8px;
}


@keyframes fazendoX1 {

    100%{
        transform: rotate(45deg);
    }
}
@keyframes fazendoX3 {

    100%{
        transform: rotate(-45deg);
    }
}

@keyframes desfazendoX1 {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes desfazendoX3 {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media only screen and (max-width : 1200px){
    #containerPesquisaMobile{
        display: flex;
    }
    #containerPesquisaDesktop{
        display: none;
    }
    #containerPesquisaMobile{
        width: 90%;
        margin: auto;
    }

    header{
        padding-bottom: 20px;
    }

}
@media only screen and (max-width : 680px){
    .iconForDesck{
        display: none;
    }
    .cntrNewMenu{
        display: flex;
    }
}
.cursorPointer{
    cursor: pointer;
}

.containerIconsMenu{
    display: none;
    align-items: center;
    justify-content: space-around;
    color: white;
    fill: white;
}
.containerIconsMenu span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.containerIconsMenu span:hover{
    opacity: .7;
}
.containerIconsMenu svg{
    width: 22px;
    height: 22px;
}
.containerIconsMenu span p{
    font-size: .8em;
    margin-top: 10px;
}


@keyframes menuAnimationOpen {
    0%{
        max-height: 0px;
        opacity: 0;
    }
    100%{
        max-height: 70px;
        opacity: 1;
    }
}
@keyframes menuAnimationClose {
    0%{
        max-height: 70px;
        opacity: 1;
    }
    100%{
        max-height: 0px;
        opacity: 0;
    }
}
/* fim do header*/


#favoritos{
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;

}
.shadow2{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
@keyframes shadow2 {
    100%{
        background-color: rgba(0, 0, 0, 0.7);
    }
}
@keyframes shadow2Close {
    0%{
        background-color: rgba(0, 0, 0, 0.8);
    }
    100%{
        background-color: rgba(0, 0, 0, 0);
    }
}
.areaClicavel{
    width: 100%;
    height: 100%;
}
.boxFavoritos{
    background-color: white;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 5px 20px 6px rgb(0 0 0 / 50%);
    border-radius: 10px 0px 10px 10px;

    overflow-y: scroll;
    height: fit-content;
    max-height: 76%;
    position: relative;
    right: -1000px;
}
@keyframes boxFavoritos {
    100%{
        right: 0px;
    }
}
@keyframes boxFavoritosClose {
    0%{
        right: 0px;
    }
    100%{
        right: -1000px;
    }
}
.boxFavoritos::-webkit-scrollbar {
    width: 1px;
}
.cntrItensFavo{
}
.itemFavorito{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.itemFavorito .cntrBtnFavoritoInFavo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 10px;
}
.itemFavorito .cntrBtnFavoritoInFavo svg{
    width: 100%;
    height: 100%;
}
.cntrInfosItem{
    display: flex;
    align-items: center;
    }
.itemFavorito:last-child{
    border-bottom: none;
    margin-bottom: 0px;
}
.itemFavorito img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.itemFavorito p{
    font-size: 1em;
    margin-left: 10px;
}
.itemFavorito .precosInFavo{
    font-size: 1.3em;
    margin-top: 10px;
}

.gradeProdutos{
    padding: 20px;
}
.h1ProdutosMainFeed{
    font-size: var(--fontSizePadrao);
    margin-bottom: 20px;
}
.gradeProdutos > div{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.gradeProdutos .blocoProduto{
    background-color: white;
    border: 1px solid #fff;
    width: 24%;
    margin: 5px;
    cursor: pointer;
    position: relative;
}
.gradeProdutos .blocoProduto:hover{
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
}
.gradeProdutos .blocoProduto:hover .containerImgProduto{
    padding: 2px;
}
.gradeProdutos .containerImgProduto{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.gradeProdutos .containerImgProduto img{
    width: 100%;
}
.gradeProdutos .containerNomeProduto p{
    padding: 10px;
    font-size: var(--fontSizePadrao);
    color: black;
}
.gradeProdutos .containerTags{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-top: 10px;
}
.gradeProdutos .cntrFreteGratis{
    background-color: rgba(0, 128, 0, 0.0);
    padding: 4px 6px;
    font-size: .7em;
    color: green;
    border: 1px solid green;
    font-weight: bold;
}
.gradeProdutos .blocoProduto:hover .cntrFreteGratis{
    background-color: rgba(0, 128, 0, 0.05);
}
.gradeProdutos .containerPrecoNumeroVendas{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: green;
    margin: 10px 0px;
}
.gradeProdutos .rs{
    font-size: 1.1em;
}
.gradeProdutos .precoProtuto{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 4px;
}
.gradeProdutos .blocoProduto:hover .precoProtuto,
.gradeProdutos .blocoProduto:hover .rs{
    animation: changeBackgroundColor 5s infinite; /* propriedade de animação */
}
.gradeProdutos .blocoProduto:hover .cntrBtnFavorito{
    display: flex;
}

@keyframes changeBackgroundColor {
    0% {
      color: green;
    }
    50% {
      color: rgb(2, 2, 185);
    }
    100% {
      color: green;
    }
  }
.gradeProdutos .numeroVendas{
    display: flex;
    align-items: flex-end;
    font-size: .8em;
    color: #666;
}


@media only screen and (max-width : 1060px){
    .gradeProdutos .blocoProduto{
        width: 32%;
    }
}
@media only screen and (max-width : 810px){
    .gradeProdutos .blocoProduto{
        width: 48%;
    }
}
@media only screen and (max-width : 560px){
    .gradeProdutos .blocoProduto{
        width: 47%;
    }
}
@media only screen and (max-width : 1200px){
    .gradeProdutos .containerNomeProduto p{
        font-size: .9em;
    }
}                                                                                                                                                                                                                                                                                 
/* fim do favoritos*/



/*inicio do container dos produtos main*/
.cntrBtnFavorito{
    position: absolute;
    display: none;
    justify-content: flex-end;
    padding: 14px;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cntrBtnFavorito svg{
    width: 24px;
    height: 24px;
}

.blocoProduto:hover svg{
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    fill: black;

}

.coracaoVermelho{
    display: none;
}
.coracaoBranco{
    display: flex;
    fill: #999;
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(110%);
    }
}


/*fim do container dos produtos main*/

.containerSegurancaPagamento{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px 4px;
}

.containerSegurancaPagamento div{
    display: flex;
    align-items: center;
    width: 33%;
    padding: 0px 10px;
}
.containerSegurancaPagamento div:nth-child(2){
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}



.containerSegurancaPagamento img{
    border-radius: 50%;
    width: 50px;
}

.containerSegurancaPagamento p{
    margin-left: 6px;
    font-size: 0.8em;
}





.banner{
    width: 100%;
}

.containerSegurancaPagamento2{
    background-color: white;

    margin: 20px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px 4px;
}
.containerSegurancaPagamento2 div{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.containerSegurancaPagamento2 span,
.containerSegurancaPagamento2 p{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 4px;
}
.containerSegurancaPagamento2 img{
    padding: 10px 0px;
    width: 30%;
    max-width: 50px;
}
.containerSegurancaPagamento2 .containerTitle{
    font-size: .8em;
    font-weight: bold;
}
.containerSegurancaPagamento2 .containerDescricao{
    font-size: .8em;
    color: #666;
}



.containerCnpj{
    color: #999;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px 40px;
    font-size: small;
}
.containerCnpj p{
    margin-bottom: 4px;
}

.containerAnuncio{
    margin: 20px ;
}
.containerAnuncio img{
    width: 100%;
}
#x{
    fill: white;
    cursor: pointer;
    display: none;
    animation: animacaoXFav .5s both;
    padding: 10px 0px;

}
@keyframes animacaoXFav {

    100%{
        padding: 10px 30px;
    }

}
#x svg{
    width: 20px;
    height: 20px;
}

@media only screen and (max-width : 1000px){
    .areaClicavel{
        width: 50%;
    }
}   
@media only screen and (max-width : 800px){
    .areaClicavel{
        width: 20%;
    }
}                                                                                                                                                                                                                                                                                 







/* ITEM EM DESTAQUE */


    .cntrItemEmDestaque{
        padding: 20px;
    }
    .cntrProdutoEmDestaque{
        border: 1px solid #ddd;
        background-color: white;
    }
    .cntrImgAndInfoProdutoDestaque{
        display: flex;
    }
    .cntrImgProdutoDestaque{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .cntrImgProdutoDestaque img{
        width: 80%;
    }
    .cntrInfosProdutoDestaque{
        width: 100%;
        color: black;
        font-size: 1.3em;
        padding: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .cntrOfertaQuente{
        background-image: linear-gradient(-45deg, red, orange);
        padding: 10px 20px;
        width: fit-content;
        border-radius: 10px;
        color: white;
        margin-bottom: 20px;
    }
    .cntrOfertaQuenteMobile{
        display: none;
    }

    .cntrOfertaQuente p{
        font-size: 20px;
    }
    .nomeProdutoDestaque{
        font-size: 1.2em;
        margin-bottom: 28px;
    }
    .nomeProdutoDestaqueMobile{
        display: none;
        margin: 20px;
        font-size: 1.4em;

    }
    .precoAntigoProdutoDestaque{
        margin-bottom: 10px;
        color: #666;
        text-decoration: line-through;
        font-size: .8em;
    }
    .cntrInfosProdutoDestaque > span{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .precoProdutoDestaque{
        font-weight: bold;
        font-size: 1.3em;
        margin-right: 20px;
    }

    .descontoProdutoDestaque{
        color: green;
        font-size: .8em;
    }
    .descontoProdutoDestaque span{
        font-weight: bold;
    }
    .parcelasProdutoDestaque{
        margin-bottom: 20px;
        font-size: .8em;

    }
    .parcelasProdutoDestaque span{
        color: green;
        font-weight: bold;
        font-size: 1em;

    }
    .descricaoProdutoDestaque{
        font-size: .8em;
        color:#666;
    }
    .cntrBtnVerDetalhes{
        width: 100%;
        margin: 20px 20px 0px 0px;
        text-align: end;
    }
    .cntrBtnVerDetalhes button{
        padding: 10px 40px;
        font-size: .9em;
        font-weight: bold;
        color: #fff;
        border: 1px solid #fff;
        background-color: #3483fa;
        cursor: pointer;
        animation: btnVerMaisProdutoDestaque 1.5s infinite;
    }

    .cntrInfosProdutoDestaque button:hover{
        background-color: #286fda;
    }
    @keyframes btnVerMaisProdutoDestaque {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }




    @media only screen and (max-width : 890px){

        .cntrOfertaQuenteMobile{
            display: block;
        }
        .cntrOfertaQuenteDesktop{
            display: none;
        }
        .maisVendidos{
            display: none;
        }
    } 

    @media only screen and (max-width : 830px){
        
        .nomeProdutoDestaqueDesktop{
            display: none;
        }
        .nomeProdutoDestaqueMobile{
            display: block;
        }
        .cntrInfosProdutoDestaque{
            padding-top: 0px;
        }

    }   
    
    @media only screen and (max-width : 780px){
        .cntrInfosProdutoDestaque > span {
            align-items: flex-start;
            flex-direction: column;
        }
        .precoProdutoDestaque{
            margin-bottom: 10px;
        }
        

    }  
    @media only screen and (max-width : 666px){
        .cntrImgAndInfoProdutoDestaque {
            flex-direction: column;
        }
        .cntrImgProdutoDestaque img {
            width: 50%;
        }
    }   
    
/* FIM - item em destaque */