:root{
    ---maxWidth: 90%;
    --fontSizePadrao: 1em;
    --fontSize2: 2em;
    --fontSize3: 3em;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.shadow{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow > div{
    background-color: white;
    display: flex;
    border-radius: 10px;
    border: 1px solid #666;
    padding: 30px;
    position: absolute;
    margin: 20px;
}
.shadow,
#cntrMensagemLogin,
#cntrMensagemContaCriada{
    display: none;
}

.shadow .cntrX{
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;

    width: 30px;
    height: 30px;
    padding: 8px;

}
.shadow .x{
    width: 100%;
    height: 100%;
}
.shadow .cntrMensagemLogin span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shadow span svg{
    width: 60px;
    height: 60px;
    margin-right: 24px;
}
.shadow h1{
    font-size: 2em;
    margin-bottom: 10px;
}
.shadow .cntrMensagemLogin p{
    font-size: 1em;
}

@media only screen and (max-width : 650px){
    .shadow .cntrMensagemLogin span svg{
        width: 50px;
        height: 50px;
    }
    .shadow .cntrMensagemLogin h1{
        font-size: 1.6em;
    }
    .shadow .cntrMensagemLogin p{
        font-size: 1em;
    }}


#cntrMensagemContaCriada{
    flex-direction: column;
    padding: 0px;
}
.cntrSuperiorContaCriada{
    display: flex;
    margin-bottom: 10px;
    padding: 30px;
    padding-bottom: 0px;

}
.cntrCupon{
    display: flex;
    margin: 20px;

}
.cntrPrimeiraParteCupom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3483fa;
    color: white;
    padding: 12px;
    border-right: 4px solid rgb(255, 255, 255);
    border-right-style: dashed;
    min-width: fit-content;
}
.cntrPrimeiraParteCupom p{
    font-size: .8em;
}

.cntrPrimeiraParteCupom p:nth-child(2){
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 4px;
}

.cntrSegundaParteCupom{
    border: 1px solid #ddd;
    border-left: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cntrSegundaParteCupom span:nth-child(1){
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tetleCupom{
    font-size: 1em;
    font-weight: bold;
}
.validadeCupom{
    font-size: .8em;
    font-weight: lighter;
    margin-top: 10px;
}
.cntrSegundaParteCupom button{
    border: 1px solid #3483fa;
    color: #3483fa;
    padding: 10px 14px;
    background-color: white;
    font-weight: bold;
}
@media only screen and (max-width : 666px){
    .tetleCupom {
        font-size: .95em;
    }
    .shadow h1 {
        font-size: 1.6em;
    }
}

@media only screen and (max-width : 530px){
    .shadow h1 {
        font-size: 1.3em;
    }
}





body{
    background-color: #ebebeb;
    width: 100%;
}
header{
    background-color: #351151;
    width: 100%;
}
.superiorHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}
.nomeLoja{
    color: white;
    text-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
}
.containerLogo{
    min-width: fit-content;
    margin: 0px 40px;
}
.containerPesquisa{
    display: flex;
    align-items: center;
    background-color: white;
    width: 60%;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
}
.inputPesquisa{
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: var(--fontSizePadrao);
    outline: none;
}
.containerIconPesquisa{
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header svg{
    width: 24px;
    height: 24px;
}
.containerIcons{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px 40px;
}
.containerIcons svg:nth-child(2){
    margin: 0px 30px;
    fill: white;
}
.containerIcons svg:nth-child(1){
    fill: white;
}
.containerPesquisaMobile{
    display: none;
}
.menu{
    display: none;
}

@media only screen and (max-width : 1200px){
    .containerPesquisaMobile{
        display: flex;
    }
    .containerPesquisaDesktop{
        display: none;
    }
    .containerPesquisaMobile{
        width: 90%;
        margin: auto;
    }
    header{
        padding-bottom: 20px;
    }

}
@media only screen and (max-width : 680px){
    .iconForDesck{
        display: none;
    }
    .menu{
        display: block;
    }
}
.cursorPointer{
    cursor: pointer;
}

.containerIconsMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    fill: white;
    color: white;
    margin: 10px 20px;
}
.containerIconsMenu span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 8px;
    margin-bottom: 18px;
    padding: 20px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

}
.containerIconsMenu span:hover{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 10px #3b135a;
    letter-spacing: 1px;
}

.containerIconsMenu span p{
    font-size: var(--fontSizePadrao);
    margin-top: 10px;
}
.containerIconsMenu{
    display: none;
}


/* fim do header*/


#favoritos{
    display: none;
}
.gradeProdutos{
    padding: 20px;
}
.gradeProdutos > h1{
    font-size: var(--fontSizePadrao);
    margin-bottom: 20px;
}
.gradeProdutos > div{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.gradeProdutos .blocoProduto{
    background-color: white;
    border: 1px solid #fff;
    width: 24%;
    margin: 5px;
    cursor: pointer;
}
.gradeProdutos .blocoProduto:hover{
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
}
.gradeProdutos .blocoProduto:hover .containerImgProduto{
    padding: 2px;
}
.gradeProdutos .containerImgProduto{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.gradeProdutos .containerImgProduto img{
    width: 100%;
}
.gradeProdutos .containerNomeProduto p{
    padding: 10px;
    font-size: var(--fontSizePadrao);
    color: black;
}
.gradeProdutos .containerTags{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-top: 10px;
}
.gradeProdutos .cntrFreteGratis{
    background-color: rgba(0, 128, 0, 0.0);
    padding: 4px 6px;
    font-size: .7em;
    color: green;
    border: 1px solid green;
    font-weight: bold;
}
.gradeProdutos .blocoProduto:hover .cntrFreteGratis{
    background-color: rgba(0, 128, 0, 0.05);
}
.gradeProdutos .containerPrecoNumeroVendas{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: green;
    margin: 10px 0px;
}
.gradeProdutos .rs{
    font-size: 1.1em;
}
.gradeProdutos .precoProtuto{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 4px;
}
.gradeProdutos .blocoProduto:hover .precoProtuto,
.gradeProdutos .blocoProduto:hover .rs{
    animation: changeBackgroundColor 5s infinite; /* propriedade de animação */
}
.gradeProdutos .blocoProduto:hover .cntrBtnFavorito{
    display: flex;
}

@keyframes changeBackgroundColor {
    0% {
      color: green;
    }
    50% {
      color: rgb(2, 2, 185);
    }
    100% {
      color: green;
    }
  }
.gradeProdutos .numeroVendas{
    display: flex;
    align-items: flex-end;
    font-size: .8em;
    color: #666;
}


@media only screen and (max-width : 1060px){
    .gradeProdutos .blocoProduto{
        width: 32%;
    }
}
@media only screen and (max-width : 810px){
    .gradeProdutos .blocoProduto{
        width: 48%;
    }
}
@media only screen and (max-width : 560px){
    .gradeProdutos .blocoProduto{
        width: 47%;
    }
}
@media only screen and (max-width : 1200px){
    .gradeProdutos .containerNomeProduto p{
        font-size: .9em;
    }
}                                                                                                                                                                                                                                                                                 
/* fim do favoritos*/



/*inicio do container dos produtos main*/
.cntrBtnFavorito{
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    display: none;
    justify-content: flex-end;
}
.cntrBtnFavorito svg{
    width: 20px;
    height: 20px;
}

/*fim do container dos produtos main*/

.containerSegurancaPagamento{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px 4px;
}

.containerSegurancaPagamento div{
    display: flex;
    align-items: center;
    width: 33%;
    padding: 0px 10px;
}
.containerSegurancaPagamento div:nth-child(2){
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}



.containerSegurancaPagamento img{
    border-radius: 50%;
    width: 50px;
}

.containerSegurancaPagamento p{
    margin-left: 6px;
    font-size: 0.8em;
}





.banner{
    width: 100%;
}

.containerSegurancaPagamento2{
    background-color: white;

    margin: 20px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px 4px;
}
.containerSegurancaPagamento2 div{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.containerSegurancaPagamento2 span,
.containerSegurancaPagamento2 p{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 4px;
}
.containerSegurancaPagamento2 img{
    padding: 10px 0px;
    width: 30%;
    max-width: 50px;
}
.containerSegurancaPagamento2 .containerTitle{
    font-size: .8em;
    font-weight: bold;
}
.containerSegurancaPagamento2 .containerDescricao{
    font-size: .8em;
    color: #666;
}



.containerCnpj{
    color: #999;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px 40px;
    font-size: small;
}
.containerCnpj p{
    margin-bottom: 4px;
}

.containerAnuncio{
    margin: 20px ;
}
.containerAnuncio img{
    width: 100%;
}
