:root{
    ---maxWidth: 90%;
    --fontSizePadrao: 1em;
    --fontSize2: 2em;
    --fontSize3: 3em;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #351151;
}
header{
    background-color: #351151;
    width: 100%;
    color: white;
    padding: 10px 20px;
}



.cntrMain{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 20px;
}
main{
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
}

.cntrImg{
    width: 40%;

}
.cntrImg img{
    width: 100%;
}




@media only screen and (max-width : 1000px){
    
    .cntrImg,
    main{
        width: 50%;
    }
}

@media only screen and (max-width : 850px){
    body{
        background-color: white;
    }
    .cntrImg{
        display: none;
    }
    main{
        max-width: none;
        width: 80%;
        box-shadow: none;

    }
}

@media only screen and (max-width : 750px){
    main{
        max-width: none;
        width: 90%;
        box-shadow: none;
    }
}

.cntrSvgPerfil{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.cntrSvgPerfil > svg{
    width: 100px;
    height: 100px;
}

.cntrInputs div div{
    display: flex;
    border-bottom: 1px solid #ddd;
    margin: 10px 0px;
    padding: 10px 0px;
}
.cntrInputs .cntrEmail{
    margin-top: 0px;
}
.cntrInputs svg{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}
.cntrOlhos{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.cntrOlhos svg{
    width: 30px;
    height: 30px;
    margin: 0px 1px;
}
.cntrInputs .olhoFechado{
    display: block;
}
.cntrInputs .olhoAberto{
    display: none;
}
.cntrInputs input{
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: .9em;
}
.ctnrErro{
    color: #DB0606;
    display: none;
    align-items: center;
    font-size: .8em;
}
.ctnrErro svg{
    width: 20px;
    height: 20px;
}
.cntrInputs button{
    width: 100%;
    border: none;
    padding: 12px;
    margin-top: 10px;
    font-size: .9em;
    color: #666;
    cursor: pointer;
}
.cntrBtnCadastrar{
    padding: 20px 0px;
    font-size: .9em;
    cursor: pointer;
    width: fit-content;
    display: flex;
}
.cntrBtnCadastrar P{
    color: rgb(1, 1, 197);
}
.cntrBtnCadastrar P:nth-child(1){
    color: #999;
    margin-right: 8px;
}


.cntrHR{
    display: flex;
    align-items: center;
}
.cntrHR hr{
    width: 100%;
    height: 1px;
}
.cntrHR p{
    font-size: .9em;
    padding: 20px;
}

.cntrGoogle{
    border: 1px solid #999;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    margin: 20px 0px 10px 0px;
    height: 50px;
    cursor: pointer;
}
.cntrGoogle svg{
    width: 30px;
    height: 30px;
    position: absolute;
    
}
.cntrGoogle p{
    font-size: .9em;
    width: 100%;
    text-align: center;
}



#cntrEntrar{
    /*
    display: block;
    display: none;
    */
    display: block;
}
#cntrCadastrar{
    /*
    display: block;
    display: none;
    */
    display: none;
}

.cntrBox1{
    /*
    display: block;
    display: none;
    */
    display: block;
}
.cntrBox2{
    /*
    display: block;
    display: none;
    */
    display: none;
    
}
.cntrBox3{
    /*
    display: block;
    display: none;
    */
    display: none;
}

.tetle{
    font-size: 1.5em;
    margin: 20px 0px 30px 0px;
    text-align: center;
}
.imgFundo img{
    
}
#btnContinuar{
    background-color: #f0f0f0;
}